<div class="panel-heading">
  <app-chat-heading></app-chat-heading>
</div>

<div class="panel-body">
  <ul class="chat" style="list-style:none;">
    <li class="left clearfix">
      <app-bot-chat></app-bot-chat>
    </li>
    <br />
    <li class="right clearfix">
      <app-user-chat></app-user-chat>
    </li>
    <br/>
    <li class="left clearfix">
      <app-bot-chat></app-bot-chat>
    </li>
    <br />
    <li class="right clearfix">
      <app-user-chat></app-user-chat>
    </li>
    <br />
  </ul>
</div>

<div class="panel-footer">
    <div class="input-group">
        <app-text-scraper></app-text-scraper>
    </div>
</div>
