<div>
  <app-header></app-header>
  <div class="container" style="padding:10px; width:100%;" id="chat">
      <div class="" style="width:100%;">
         <div class="" style="width: 100%;">
            <div class="panel panel-primary" style="border:none;">
               <div class="panel-heading" style="background-color:#000;border:none;">
                  <span class="glyphicon glyphicon-comment"></span> Chat
               </div>
               <div class="panel-body"style="height:75vh;border:none;">
                 <app-response-ai></app-response-ai>
                 <app-text-scraper></app-text-scraper>
               </div>
               <div class="panel-footer">
                 <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat" style="background-color:#000;border:none;">Send</button>
                    </span>
                 </div>
               </div>
            </div>
         </div>
      </div>
  </div>
  <app-footer></app-footer>

</div>
