<div>
    <div class="navbar w3-row" style="height:110px;" id="navbar">
      <div class="w3-col" style="width:20%;text-align:center"><img src="../../../../assets/LandingPage.gif" alt="Logo" style="height:100px;width:100px;" /></div>
      <div class="w3-col" style="width:60%;text-align:center"><h1>Botic</h1></div>
      <div class="w3-col" style="width:20%;text-align:center">
          <input type="button" value="Sign In" class="login" onclick="openForm()" style="width:120px;" />
      </div>
    </div>

    <div class="container w3-row" style="width:100%" id="subtitle">
      <p style="font-family:'Helvetica';color:#000;text-align:center">For any customer related queries, please make use of the chat function.</p>
    </div> 
</div>
