<div style="padding: 10px; display: table; width: 100%;">
    <div style="height:120px; width:100%; display:table-row;" id="navbar">
        <div style="display: table; width:20%;text-align:center;float: left; height: 120px;">
          <div style="display: table-row;"></div>
          <div style="display: table-row; width: 100%; vertical-align: middle; height: 80px;">
            <img src="../../../../assets/LandingPage.gif" alt="Logo" style="height:100px;width:100px;" />
          </div>
          <div stype="display: table-row;"></div>
        </div>

        <div style="display: table; width:60%; height: 120px; text-align:center;float: left;">
          <div style="display: table-row;"></div>
          <div style="width: 100%; display: table-row; vertical-align: middle; height: 40px;">
              <h1>Botic</h1>
          </div>
          <div style="display: table-row;"></div>
        </div>

        <div style="display: table; width:20%; height: 120px; text-align:center;float: right;">
          <div style="display: table-row;"></div>  
          <div style="display: table-row; width: 100%; vertical-align: middle; height: 40px;">
            <!--this must be shown only when not logged in-->
            <div *ngIf="!loginController.isLoggedIn">
              <input type="button" value="Sign In" class="login" (click)="login()" style="width:120px;" />
            </div>

            <!--this must be shown only when logged in-->
            <div *ngIf="loginController.isLoggedIn">
              <input type="button" value="Sign Out" class="login" (click)="logout()" style="width:120px;" />
            </div>
          </div>
          <div style="display: table-row;"></div>
        </div>
    </div>

    <div style="width:100%; display:table-row; text-align:center;" id="subtitle">
      <p id="message"style="font-family:'Helvetica';color:#000;text-align:center">For any customer related queries, please make use of the chat function.</p>
      <div *ngIf="loginController.isLoggedIn">
        Hello, <u>{{auth.userProfile?.name}}</u>. Welcome to Botic! Please submit your query.
      </div>
    </div> 
</div>
