<div>
  <app-header></app-header>
  <div class="container" style="padding:10px; width:100%;" id="chat">
      <div class="" style="width:100%;">
         <div class="" style="width: 100%;">
            <div class="panel panel-primary" style="border:none;">
               <div>
                  <div style="background-color:#f1c40f;border:none; margin-bottom: 0px;"><h2>Hi Client Representative!</h2></div>
               </div>
               <div class="panel-heading" style="background-color:black;border:none;">
                  <span class="glyphicon glyphicon-comment"></span> Chat
               </div>
               <div class="panel-body"style="height:75vh;border:none;">
                  <app-text-scraper></app-text-scraper>
               </div>
               <div class="panel-footer">
               </div>
            </div>
         </div>
      </div>
      <app-messages></app-messages>
  </div>
  <app-footer></app-footer>

</div>
